.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.menuLink {
    color: var(--text-over-primary);
    display: inline-flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    background: var(--primary);
    padding: 1rem;
    border-radius: 0.8rem;
}

.menuLink svg {
    width: 3rem;
    height: 3rem;
}

.menuLink:hover {
    background-color: var(--primary-dark);
    transition: color 0.3s;
}