.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 4.2rem;
}

.logoLink {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 4.2rem;
    font-weight: bold;
    color: var(--primary);
}

.logoLink svg {
    width: 6rem;
    height: 6rem;
}

.logoLink:hover {
    color: var(--primary-dark);
    transition: color 0.3s;
}